# blu_spark extras

on early-init	
    # Tweak IO performance during boot up
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sde/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/nr_requests 256

on boot
    # Update foreground and background cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7

    # bind mount wifi config file
    mount auto /WCNSS_qcom_cfg.ini /vendor/etc/wifi/WCNSS_qcom_cfg.ini bind
    # bind mount custom wifi module
    rmmod wlan.ko
    mount auto /modules/wlan.ko /system/lib/modules/qca_cld3/qca_cld3_wlan.ko bind
    mount auto /modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
    exec u:r:modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules wlan

    # Enable sched boost
    write /proc/sys/kernel/sched_boost 1

on property:sys.post_boot.parsed=1
    # allows FKUpdater to know this feature is supported
    setprop fku.profiles 1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # Tweak IO performance after boot complete
    write /sys/block/dm-0/queue/scheduler "zen"
    write /sys/block/dm-1/queue/scheduler "zen"
    write /sys/block/sda/queue/scheduler "zen"
    write /sys/block/sde/queue/scheduler "zen"
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sde/queue/iostats 1
    write /sys/block/sde/queue/nr_requests 128

    # Disable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0

    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 4-7
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

    # Disable sched boost
    write /proc/sys/kernel/sched_boost 0

    # Input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 500

    # Disable thermal hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/soc/soc:qcom,bcl/mode "disable"
    write /sys/devices/soc/soc:qcom,bcl/hotplug_mask 0
    write /sys/devices/soc/soc:qcom,bcl/hotplug_soc_mask 0
    write /sys/devices/soc/soc:qcom,bcl/mode "enable"

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "blu_active"
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/above_hispeed_delay 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/hispeed_freq 1248000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/io_is_busy 0
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/align_windows 1
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/target_loads "83 1804800:95"
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/min_sample_time 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/timer_slack 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/fastlane 0
    write /sys/devices/system/cpu/cpu0/cpufreq/blu_active/fastlane_threshold 50
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "blu_active"
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/above_hispeed_delay 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/timer_rate 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/hispeed_freq 1574400
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/align_windows 1
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/target_loads "83 1939200:90 2016000:95"
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/timer_slack 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/fastlane 0
    write /sys/devices/system/cpu/cpu4/cpufreq/blu_active/fastlane_threshold 50
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

    # Re-enable thermal hotplug
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/soc/soc:qcom,bcl/mode "disable"
    write /sys/devices/soc/soc:qcom,bcl/hotplug_mask 0
    write /sys/devices/soc/soc:qcom,bcl/hotplug_soc_mask 0
    write /sys/devices/soc/soc:qcom,bcl/mode "enable"

    # OTG on by default
    #write /sys/class/power_supply/usb/otg_switch 1

    exec u:r:su:s0 root root -- /init.supolicy.sh

    exec u:r:init:s0 -- /init.special_power.sh
    exec u:r:su:s0 root root -- /init.special_power.sh

    write /dev/kmsg "Boot completed "

on charger
    write /sys/class/leds/button-backlight/brightness 0
